<%- include('partials/header') %>

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand btn btn-danger" href="/logout">Logout</a>
  </div>
</nav>

<%- include('partials/footer') %>